<!DOCTYPE html>
<html>

<head>
    <title>MAVRIN STUDIO - удаление татуировок, эпиляция</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/public/styles/style.css" />
    <link rel="icon" type="image/png" href="/public/img/favicon/favicon-48x48.png" sizes="48x48" />
    <link rel="icon" type="image/svg+xml" href="/public/img/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/public/img/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/public/img/favicon/apple-touch-icon.png" />
    <link rel="manifest" href="/public/img/favicon/site.webmanifest" />
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</head>

<body>
    <div class="main-wrapper">
        <div class="block-1">
            <div class="text-container-1">
                <h1>STUDIO</h1>
                <h1 class="studio-red-text">MAVRINA</h1>
                <h2>УДАЛЕНИЕ ТАТУИРОВОК</h2>
                <p>
                    Делаем быстрое и безболезненное удаление татуировок и татуажа
                    <br><span>всего от 15.000 тенге</span></br>
                </p>
                <button class="btn-orange" id="goToBlockBtn"><b>ЗАПИСАТЬСЯ</b></button>
            </div>

            <div class="img-container-1">
                <img src="/public/img/main-people.webp" alt="Эпиляция Алматы" />
                <div class="circle-1"></div>
            </div>

            <section class="footer-block-1">
                <div class="footer-block-1-txt">WhatsApp: <span>+7 777 273 47 77</span></div>
                <div class="footer-block-1-txt">Instagram: <span>studio_mavrina</span></div>
            </section>
        </div>

        <div class="block-2">
            <div class="img-container-2">
                <img src="/public/img/block-2-img.webp" alt="Шугаринг Алматы" />
                <img src="/public/img/block-2-img.webp" alt="Удаление волос Алматы" />
            </div>
            <div class="separator-vertical"></div>
            <div class="text-container-2">
                <h3>О НАС</h3>
                <p>
                    Наша компания занимается удалением татуировок и татуажа, а так же
                    услугами лазерной эпиляции.
                </p>
                <span>
                    <b>Основное наше преимущество состоит в использовании современных и
                        самое главное - безболезненных методов удаления тату и татуажа.</b>
                </span>
                <div class="signature-container">
                    <img src="/public/img/Подпись.webp" alt="Удаление татуировок Алматы" />
                </div>
            </div>
        </div>
        <h1 class="our-service-h1">НАШИ УСЛУГИ</h1>
        <div class="block-3">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="../public/img/block-2-img.webp" alt="">
                        <div class="text-slider">
                            <h3>УДАЛЕНИЕ ТАТУИРОВОК</h3>
                            <p>от 20 000 тг</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <img src="../public/img/block-2-img.webp" alt="">
                        <div class="text-slider">
                            <h3>УДАЛЕНИЕ ТАТУАЖА</h3>
                            <p>от 35 000 тг</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <img src="../public/img/block-2-img.webp" alt="">
                        <div class="text-slider">
                            <h3>ЖЕНСКАЯ ЛАЗЕРНАЯ ЭПИЛЯЦИЯ</h3>
                            <p>от 15 000 тг</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <img src="../public/img/block-2-img.webp" alt="">
                        <div class="text-slider">
                            <h3>УДАЛЕНИЕ ТАТУИРОВОК</h3>
                            <p>от 20 000 тг</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <img src="../public/img/block-2-img.webp" alt="">
                        <div class="text-slider">
                            <h3>ЖЕНСКАЯ ЛАЗЕРНАЯ ЭПИЛЯЦИЯ</h3>
                            <p>от 15 000 тг</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <img src="../public/img/block-2-img.webp" alt="">
                        <div class="text-slider">
                            <h3>УДАЛЕНИЕ ТАТУИРОВОК</h3>
                            <p>от 20 000 тг</p>
                        </div>
                    </div>
                </div>

                <div class="swiper-button-next"></div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>

        <div class="full">
            <div class="line"></div>
        </div>

        <div class="bg">
            <h1 class="our-service-h1">СПЕЦИАЛИСТЫ</h1>
            <div class="block-4">
                <div class="first-blockOf4">
                    <h3>МАВРИН СЕРГЕЙ ВИКТОРОВИЧ</h3>
                    <p>В 2004 году успешно окончил курсы по лазерной косметологии, получив международный сертификат
                        специалиста. С тех пор активно занимается лазерным удалением татуировок, регулярно проходя
                        повышение квалификации и осваивая новые технологии. <br></br>
                        За более чем <span>15 лет</span> практики помог сотням клиентов избавиться от нежелательных
                        татуировок, используя безопасные и эффективные методы. </p>
                </div>
                <img src="../public/img/main-people.webp" alt="МАВРИН СЕРГЕЙ ВИКТОРОВИЧ">
            </div>
        </div>
        <div class="bg">
            <div class="block-4">
                <img src="../public/img/block-4-2.webp" alt="СВЕТЛАНА ЧАЛЫХ">
                <div class="first-blockOf4 block-4-2">
                    <h3>СВЕТЛАНА ЧАЛЫХ</h3>
                    <p>В 2010 году завершила обучение на курсах лазерной косметологии,
                        получив диплом с отличием. С тех пор она посвятила свою карьеру лазерному удалению татуировок и
                        накопила огромный опыт в этой области. <br></br>
                        Постоянно<span>совершенствует</span> свои навыки, участвуя в международных конференциях и
                        семинарах, чтобы быть в курсе новейших технологий.</p>
                </div>
            </div>
        </div>

        <div class="full">
            <div class="line"></div>
        </div>

        <section class="bg">
            <h1 class="our-service-h1 h1-5">ДО/ПОСЛЕ</h1>
            <h4 class="our-service-h4 mb-5">УДАЛЕНИЕ ТАТУИРОВОК</h4>
            <div class="block-5">
                <div class="items-of-5">
                    <img src="../public/img/first.webp" alt="УДАЛЕНИЕ ТАТУИРОВОК">
                    <h5>9 сеансов</h5>
                </div>
                <div class="items-of-5">
                    <img src="../public/img/second.webp" alt="УДАЛЕНИЕ ТАТУИРОВОК">
                    <h5>3 сеанса</h5>
                </div>
                <div class="items-of-5">
                    <img src="../public/img/third.webp" alt="УДАЛЕНИЕ ТАТУИРОВОК">
                    <h5>3 сеанса</h5>
                </div>
                <div class="items-of-5">
                    <img src="../public/img/fourth.webp" alt="УДАЛЕНИЕ ТАТУИРОВОК">
                    <h5>2 сеанса</h5>
                </div>
            </div>
            <h1 class="our-service-h1 h1-5 mt-5">ДО/ПОСЛЕ</h1>
            <h4 class="our-service-h4 mb-5">УДАЛЕНИЕ ТАТУАЖА</h4>
            <div class="block-5">
                <div class="items-of-5">
                    <img src="../public/img/image (7).webp" alt="УДАЛЕНИЕ ТАТУАЖА">
                    <h5>1 сеанс</h5>
                </div>
                <div class="items-of-5">
                    <img src="../public/img/image (9).webp" alt="УДАЛЕНИЕ ТАТУАЖА">
                    <h5>1 сеанс</h5>
                </div>
                <div class="items-of-5">
                    <img src="../public/img/image (8).webp" alt="УДАЛЕНИЕ ТАТУАЖА">
                    <h5>4 сеанса</h5>
                </div>
                <div class="items-of-5">
                    <img src="../public/img/image (10).webp" alt="УДАЛЕНИЕ ТАТУАЖА">
                    <h5>1 сеанс</h5>
                </div>
            </div>
        </section>

        <section class="bg">
            <div class="block-6">
                <img class="certificate" src="../public/../public/img/Group 209.webp" alt="">
            </div>
        </section>

        <div class="bg">
            <h1 class="our-service-h1">ОБОРУДОВАНИЕ</h1>
            <div class="block-4 block-7">
                <div class="first-blockOf7">
                    <p>
                        <span>
                            Высокая точность и эффективность
                        </span>
                        - благодаря двухкристальной оптике, лазер способен точно воздействовать на пигмент татуировки,
                        разрушая его, не повреждая при этом окружающие ткани. Это обеспечивает быстрое и эффективное
                        удаление татуировок любых цветов.
                        <br></br>
                        <span>
                            Минимум болевых ощущений
                        </span>
                        - технология NG 001 Pro позволяет минимизировать болевые ощущения во время процедуры, что делает
                        её комфортной для клиента. Мощные импульсы работают быстро, сокращая время воздействия на кожу.
                    </p>
                    <img src="../public/img/Group 184.webp" alt="ОБОРУДОВАНИЕ">
                </div>
            </div>
        </div>
        <div class="bg">
            <div class="block-4 block-7">
                <div class="first-blockOf7">
                    <img src="../public/img/Group 185.webp" alt="ОБОРУДОВАНИЕ">
                    <p>
                        <span>
                            Оптимальная длина волны
                        </span>
                        - длина волны 808 нм считается «золотым стандартом» для лазерной эпиляции. Она позволяет лазеру
                        проникать глубоко в кожу и эффективно разрушать волосяные фолликулы, не повреждая окружающие
                        ткани. Это обеспечивает точечное удаление волос с минимальным воздействием на кожу.
                        <br></br>
                        <span>
                            Быстрота процедуры
                        </span>
                        - благодаря высокой мощности и скорости работы, ML DIODE LASER 808nm позволяет проводить
                        процедуры эпиляции значительно быстрее, что особенно важно при обработке больших участков тела,
                        таких как ноги или спина.
                    </p>
                </div>
            </div>
        </div>

        <section class="bg block-8" id="targetBlock">
            <form>
                <h2 class="our-service-h4">ЗАПИШИТЕСЬ НА ПРОЦЕДУРУ</h2>
                <div class="input">
                    <label for="name">Имя</label>
                    <input placeholder="Иван" type="text" name="name" id="name">
                </div>
                <div class="input">
                    <label for="name">Телефон</label>
                    <input placeholder="+7 (777) 777 77 77" type="number" name="number" id="number">
                </div>
                <div class="input">
                    <label for="name">Тип Услуги</label>
                    <select name="tatuash" id="">
                        <option value="tatuash">Удаление татуажа</option>
                        <option value="tatu">Удаление татуировки</option>
                        <option value="tatu">Удаление краски с машины</option>
                        <option value="tatu">Удаление бывшего из твоей жизни</option>
                    </select>
                </div>
                <button class="btn-orange">ЗАПИСАТЬСЯ</button>
            </form>
        </section>

        <section class="bg block-9">
            <h2 class="our-service-h4">ВОПРОС-ОТВЕТ</h2>
            <div class="questions">
                <div class="question">
                    <img src="../public/img/Group 192.webp" alt="">
                    <div class="first">
                        <h4>Сколько сеансов требуется для полного удаления татуировки?</h4>
                        <p>Количество сеансов зависит от размера, цвета и глубины татуировки. В среднем для полного
                            удаления требуется от 5 до 10 сеансов, но это может варьироваться в зависимости от
                            особенностей вашего организма и типа краски.</p>
                    </div>
                </div>
                <div class="question">
                    <img src="../public/img/Group 192.webp" alt="">
                    <div class="first">
                        <h4>Сколько сеансов требуется для полного удаления татуировки?</h4>
                        <p>Количество сеансов зависит от размера, цвета и глубины татуировки. В среднем для полного
                            удаления требуется от 5 до 10 сеансов, но это может варьироваться в зависимости от
                            особенностей вашего организма и типа краски.</p>
                    </div>
                </div>
                <div class="question">
                    <img src="../public/img/Group 192.webp" alt="">
                    <div class="first">
                        <h4>Сколько сеансов требуется для полного удаления татуировки?</h4>
                        <p>Количество сеансов зависит от размера, цвета и глубины татуировки. В среднем для полного
                            удаления требуется от 5 до 10 сеансов, но это может варьироваться в зависимости от
                            особенностей вашего организма и типа краски.</p>
                    </div>
                </div>
                <div class="question">
                    <img src="../public/img/Group 192.webp" alt="">
                    <div class="first">
                        <h4>Сколько сеансов требуется для полного удаления татуировки?</h4>
                        <p>Количество сеансов зависит от размера, цвета и глубины татуировки. В среднем для полного
                            удаления требуется от 5 до 10 сеансов, но это может варьироваться в зависимости от
                            особенностей вашего организма и типа краски.</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="/public/scripts/script.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script type="text/javascript" src="/public/scripts/slider.js"></script>
</body>

</html>